---
---

@import '_palette';
@import '_typography';

@import '_glimmer';


// Base styles

::selection {
  background-color: $gray5;
}

html, body {
  font-family: $fontstack;
  color: $typecolor;
  height: 100%;
  background-color: $black;
  color: $white;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
  flex: 0 0 0;
  margin-top: 2rem;
}

@media (max-width: 512px) {
  header {
    margin-top: 1rem;
  }
}

#title a {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $gray1;
  }
}

#navbar {
  display: flex;
  flex-direction: row;
  div {
    margin-right: 2rem;
    padding-left: 0.02rem;
  }
}
@media (max-width: 512px) {
  #navbar {
    flex-direction: column;
    div {
      padding-bottom: 1rem;
    }
  }
}

.current_page {
  color: $gray1;
  font-weight: $bold;
}

main {
  flex: 1 0 auto;
}

footer {
  color: $gray3;
  flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titlestack;
  margin-bottom: 0.8rem;
  line-height: $lineheight;
}

p {
  margin: 0.6rem 0;
  line-height: $lineheight;
  font-size: $fontsize;
}

a {
  color: $gray2;
  text-decoration: none;
  &:hover {
    color: $gray1;
  }
}

main a, footer a {
  text-decoration: underline;
}

.comic-nav-button {
  padding: 0.2rem 1rem;
  margin: 0 0.2rem;
  border-radius: 0.6rem;
  color: $white;
  text-decoration: none;
  font-size: 1.6rem;
  &:hover {
    color: $white;
    background-color: $gray5;
  }
  &.disabled {
    color: $gray3;
    cursor: default;
    &:hover {
      background-color: rgba(0,0,0,0);
    }
  }
}

.comic {
  width: 100%;
  max-width: 600px;
}

// Utility classes

.roman       { font-weight: $roman; }
.bold        { font-weight: $bold; }
.italics     { font-style: italic; }
.nounderline { text-decoration: none; }
.underline   { text-decoration: underline; }
.small       { font-size: .8rem; }
.large       { font-size: 2rem; }
.black       { color: $black; }
.white       { color: $white; }
.gray1       { color: $gray1; }
.gray2       { color: $gray2; }
.gray3       { color: $gray3; }
.gray4       { color: $gray4; }
.gray5       { color: $gray5; }
.centered    { text-align: center; }